@model DoomnotronStudiosWeb.Models.Comic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Writer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArcNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArcNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
